body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #707070;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

/*Container
=================*/
.container{
    width: 100%;
    max-width: 940px;
    margin:  0 auto;
}


/*Header
=================*/
.header{
    height: 110px;
    width: 100%;
    position: absolute;
    top: 0;
    left 0;
    z-index: 1000;
}

.header__inner{
    padding: 26px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Nav
=================*/
.nav a:hover {
    color: #00E0D0;
    text-decoration: none;
}
.nav{
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav__link{
    margin-left: 32px;
    color: #F5F5F5;
    text-decoration: none;
}

.nav__link:first-child{
    margin-left: 0;
    color: #00E0D0;
}

.nav__link:hover{
    text-decoration: underline;
}

/*Intro
=================*/

.intro{
    display: flex;
    justify-content: center;
    padding-top: 110px;
    background: url("../images/intro-bg.jpg") center no-repeat / cover;  
}


hr .intro__inner{

    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
    
}
.intro__inner {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.intro__title{
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    line-height: 1.1;
    color: black;
    font-weight: 700;
    
    
}

.intro__line{
  width: 50%;
  height: 1px;
  color: #00E0D0;
  background-color: #00E0D0;
}

.intro__text {
    display: flex;
    justify-content: center;
    width: 100%;
    color: black;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 300;
}
.intro__text p {
    width: 60%;
    color: black;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 300;
}

/*Button
=================*/

.btn{
    margin-top: 30px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    color: #00E0D0;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #00E0D0;
    border-radius: 5px;
    padding: 10px 15px;
}



