body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #707070;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0 0 10px;
}
/*Container
=================*/
.container{
    width: 100%;
    max-width: 940px;
    margin:  0 auto;
}


/*Header
=================*/
.header{
    height: 110px;
    width: 100%;
    position: absolute;
    top: 0;
    left 0;
    z-index: 1000;
}

.header__inner{
    padding: 26px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Nav
=================*/

.nav{
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav__link{
    margin-left: 32px;
    color: #F5F5F5;
    text-decoration: none;
}

.nav__link:first-child{
    margin-left: 0;
    color: #00E0D0;
}

.nav__link:hover{
    text-decoration: underline;
}

/*Intro
=================*/

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 670px;
    padding-top: 110px;
    background: url("../images/intro-bg.jpg") center no-repeat / cover;  
}


.intro__inner{
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    
}

.intro__title{
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-align: center;
    
    
}

.intro__line{
  width: 50px;
  height: 1px;
  
  background-color: #00E0D0;
}
